<h1> All Articles</h1>
<table style="text-align:center;">
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    <% @articles.each do |article| %>
    <tr>
        <td><%= link_to article.title, article %></td>
        <td><%= article.body %></td>
    </tr>
    <% end %>
</table>
