/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* Global Style Start */
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
.display-1,
.display-2,
.display-3,
.display-4 {
	font-size: 34px;
	font-weight: 900;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.8);
	font-family: "Poppins", Arial, sans-serif;
	margin-bottom: 0.7rem;
}

a {
	text-decoration: none;
	color: black;
}

.form-label{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:1.2rem;
	font-size: 18px;
}

.form-control{
	margin-bottom: 1.5rem;
	border-radius: 10px;
}
/* Global Style End */

/* Pagination Start */
.apple_pagination{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 500;
}
/* Pagination End */

/* Navbar Start */
.navbar-brand {
	font-size: 28px;
	font-family: "Poppins", Arial, sans-serif;
	font-weight: bold;
}

.navbar .nav-item {
	font-family: 'Lato', sans-serif;
	margin-right: 1rem;
	font-size: 17px;
}

.navbar .nav-item .dropdown-menu {
	display: none;
}

.navbar .nav-item:hover .dropdown-menu {
	display: block;
}
.navbar .nav-item .dropdown-menu {
	margin-top: 0;
}

.navbar .nav-item .dropdown-menu .dropdown-item {
	font-size: 16px;
	padding: 0.5rem;
}

.nav-profile-image {
	border-radius: 50%;
}

.username{
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}
/* Navbar End */


/* Article Form Start */
.new-article{
	background: #dee9ff;
	text-align: center;
	padding: 1rem;
	border-radius: 20px;
}
/* Article Form End */

/* Login Form Start */
.login-form{
	background-image: url("assets/login_bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top:1.5rem;
	padding-bottom: 3rem;
}

.login-wrap{
	position: relative;
	background:rgba(255,255,255,0.7);
	/*background-color: rgba(0, 0, 0, 0.6);*/
	width: 100%;
}

.wrap {
	width: 100%;
	overflow: hidden;
	border-radius: 40px;
	-webkit-box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
	-moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
}

.login-form-heading{
	line-height: 1.5;
	font-weight: 500;
}

.social-media {
	position: relative;
	width: 100%;
}

.social-media .social-icon {
	display: block;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 1px solid #000;
	font-size: 16px;
	margin-right: 5px;
	border-radius: 50%;
	opacity: 0.7;
}

.social-media .social-icon i {
	color: #000;
}

.social-media .social-icon:hover {
	opacity: 1;
}


.fa-brands {
	display: inline-block;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.login-form-group{
	position: relative;
}

.login-label{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 400;
}

.submit-btn{
	font-family: "Montserrat", Arial, sans-serif;
	color: #fff !important;
	font-size: 18px;
	border-radius: 5px;
	padding: 0.375rem 0.75rem;
}

.submit-btn:hover{
	background: rgba(2, 51, 197, 0.9) !important;
	border: 1px solid #9a4be3 !important;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.login-register-link{
	text-align: center;
	font-size: 18px;
	font-weight: 700;
}

/* Login Form End */

/* Register Form Start */
.register-form{
	background-image: url("assets/register_bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top:1.5rem;
	padding-bottom: 3rem;
}

.register-wrap{
	position: relative;
	background:rgba(255,255,255,1);
	width: 100%;
}

.register-form-heading{
	line-height: 1.5;
	font-weight: 500;
}

.register-label{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 400;
}

.register-submit-btn{
	font-family: "Montserrat", Arial, sans-serif;
	color: #fff !important;
	font-size: 18px;
	border-radius: 10px;
	padding: 0.375rem 0.75rem;
}

.register-submit-btn:hover{
	background: rgba(2, 197, 70, 0.9) !important;
	border: 1px solid #4be3cc !important;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.register-login-link{
	text-align: center;
	font-size: 18px;
	font-weight: 700;
}
/* Register Form End */


/* Article Detail View Start */
.article-detail-view{
	padding-top: 2rem;
	padding-bottom: 2.5rem;
}

.full-article{
	padding: 0 5rem;
}

.article-profile-image{
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.divider{
	padding: 1rem;
	margin: auto;
	display: flex;
	justify-content: center;
	align-content: center;
}

.category{
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
}

.category-item{
	padding: 0 1rem;
}

.category-item a{
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 15px;
	line-height: 1.8;
	font-weight: 500;
	transition: .3s all ease;
	color: #f05d23;
	padding: 5px;
	margin: 10px 5px 5px 5px;
	border: 1px solid #f05d23;
	box-shadow: 0 0.5rem 0.7rem rgba(var(--bs-body-color-rgb),.15)!important;
}

.category-item a:hover{
	background: #f05d23;
	color: #fff;
	border: 1px solid #ffdddd;
	transition: 0.2s ease-in-out;
}

.title{
	word-wrap: break-word;
	padding: 0.5rem;
}

.article-title{
	letter-spacing: -0.016em;
	line-height: 40px;
	margin-top: 0.6em;
	font-size: 34px;
	font-weight: 700;
	font-style: normal;
	color: rgba(41, 41, 41, 1);
	font-family: "Poppins", Arial, sans-serif;
}

.description{
	word-wrap: break-word;
	padding: 0 6rem;
	margin-bottom: 2rem;
}

.article-description{
	letter-spacing: 0;
	line-height: 28px;
	margin-top: 1px;
	font-size: 22px;
	font-weight: 400;
	font-style: normal;
	color: rgba(117, 117, 117, 1);
	font-family: 'Montserrat', sans-serif;
}

.banner{
	padding: 1rem;
	margin: 1rem;
}

.banner-image{
	cursor: zoom-in;
}

.article-body{
	letter-spacing: -0.003em;
	line-height: 32px;
	margin-top: 2em;
	font-size: 20px;
	margin-bottom: -0.46em;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	word-break: break-word;
	color: rgba(41, 41, 41, 1);
	font-weight: 400;
}

/* Article Detail View End */

/* Article Card View Start */
.article-listing{
	padding-top:2rem;
	padding-bottom: 2.5rem;
}

.heading-section h2 {
	font-size: 34px;
	font-weight: 900;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.8);
	font-family: "Poppins", Arial, sans-serif;
}

.heading-section p {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.8;
	font-weight: 500;
	color: #999999;
}

.category a{
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 15px;
	line-height: 1.8;
	font-weight: 500;
	transition: .3s all ease;
	color: #f05d23;
	padding: 5px;
	margin: 10px 5px 5px 5px;
	border: 1px solid #f05d23;
	box-shadow: 0 0.5rem 0.7rem rgba(var(--bs-body-color-rgb),.15)!important;
}

.category a:hover{
	background: #f05d23;
	color: #fff;
	border: 1px solid #ffdddd;
	transition: 0.2s ease-in-out;
}

.card{
	border: none;
}

.card-body{
	padding: 1rem;
	text-align: center;
}

.card-img-top {
	width:290px;
	height: 330px;
	border-radius: 5px;
	box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb),.15)!important;
}

.card-title{
	color: #000000;
	font-size: 24px;
	line-height: 1.5;
	font-weight: 400;
	font-family: "Poppins", Arial, sans-serif;
	text-align: center;
}

.card-title-link{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.8);
}

.card-text{
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.8;
	font-weight: 500;
	color: #999999;
	text-align: center;
}

.article-link{
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	color: #f05d23;
	cursor: pointer;
	font-family: "Montserrat", Arial, sans-serif;
}

.article-link-arrow{
	font-size: 13px;
	color: #f05d23;
}

.article-card-profile-image{
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

.card-body .author .info {
	width: calc(100% - 60px);
}

.author-label{
	font-size: 15px;
	font-weight: 300;
	color: #b3b3b3;
	font-family: "Montserrat", Arial, sans-serif;
	line-height: 1.8;
	margin-bottom: 0;
}

.author-name {
	font-size: 17px;
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.8);
	text-transform: uppercase;
	font-family: "Poppins", Arial, sans-serif;
}

.author-name a {
	font-weight: 600;
	color: #000000;
	text-decoration: underline;
}

.article-time {
	color: #000000;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.5;
	font-family: "Montserrat", Arial, sans-serif;
}

.card-footer{
	width:100%;
	background: #ffffff;
	border: none;
}
/* Article Card View End */

/* Category Listing Start */
.category-listing{
	padding-top:2rem;
	padding-bottom: 2.5rem;
}

.category-card{
	text-align: center;
	color: white;
	font-family: "Poppins", Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	width: 20rem;
	height: 10rem;
	background-image: url("assets/category_bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.category-card-body{
	background:rgba(0,0,0,0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
	cursor: pointer;
}

.category-card-body:hover{
	background:rgba(0,0,0,0);
}

.category-card-title{
	font-family: "Poppins", Arial, sans-serif;
	font-size: 24px;
	letter-spacing: 0.3px;
	line-height: 1.2;
	color: white;
}

.category-card-text{
	color: white;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 14px;
	letter-spacing: 0.2px;
}
/* Category Listing End*/

/* Category Detailed View Start */
.category-detail-tag{
	padding: 10px;
	margin: 5px 0;
	font-weight: 900;
	color: rgba(0, 0, 0, 0.8);
}

.category-detail-heading{
	padding: 10px;
	margin: 5px 0;
	font-size: 34px;
	font-weight: 900;
	color: rgba(0, 0, 0, 0.8);
	font-family: "Poppins", Arial, sans-serif;
}
/* Category Detailed View End */

/* Footer Start */
.footer-text{
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: white;
}

.footer-text a{
	color: wheat;
}
/* Footer End */
