<section class="category-listing">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-7 heading-section text-center ">
<!--        Heading and description-->
        <h2 class="mb-4">Categories</h2>
        <p>Welcome to our article categories page, where you can explore a wide range of topics that are sure to pique your interest. Our categories cover everything from health and fitness to business and finance, and from travel to technology. Each category contains a treasure trove of articles that are informative, thought-provoking, and entertaining. Whether you're looking for practical advice, expert insights, or just a good read, our articles have got you covered. So take a look around and discover something new today!</p>
      </div>
    </div>

<!--    Loop start-->
    <% if @categories.present? %>
      <div class="row justify-content-center">
        <% @categories.each do |category| %>
          <div class="col-md-4 mt-3">
            <div class="card category-card shadow mb-5" style="background-image: <%= category.thumb %>">
              <div class="card-body category-card-body">
                <h5 class="card-title">
                  <%= link_to category.name, category_path(category), class: "category-card-title" %>
                </h5>
                <p class="card-text category-card-text">
                  <%= pluralize(category.articles.count, "article") %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
        <!--        Loop end-->
      </div>
    <% else %>
      <%= render 'shared/no-records' %>
    <% end %>
  </div>
</section>
