<section class="bg-white" style="padding-top: 2rem;padding-bottom: 6rem;">
	<div class="container">
		<div class="row justify-content-center mb-3 pb-1">
			<div class="col-md-7 heading-section text-center">
				<h2 class="mb-4">Add Category</h2>
				<p>
					Instructions<br>
					<span class="text-danger">*</span> Please check if the category is present.<br>
					<span class="text-danger">*</span> If the category is present, error will be shown.<br>
				</p>
			</div>
		</div>
		<%= render 'form' %>
	</div>
</section>

