<div class="container text-center">
    <h1 class="mt-4">Category: <%= @category.name %></h1>

    <% if logged_in? && current_user.admin? %>
        <div class="mt-4">
            <%= link_to "Edit category name", edit_category_path(@category), class: "btn btn-outline-info" %>
        </div>
    <% end %>

    <h3 class="mt-4">Articles</h3>

    <%= render 'articles/article' %>
    <%= render "layouts/pagination", obj:@articles %>
</div>

