<footer class="py-2 bg-dark">
  <div class="container text-center">
    <h5 class="footer-text">
      Copyright &copy; <%= link_to "Suyash Phatak", "https://github.com/suyashphatak23" %>
    </h5>
  </div>
</footer>