<div class="container text-center mt-3">
	<% flash.each do |name, msg| %>
	<div class="alert alert-<%= name == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show text-white" role="alert">
		<strong> <%= msg %> </strong>
		<button
			type="button"
			class="btn-close"
			data-bs-dismiss="alert"
			aria-label="Close"
		></button>
	</div>
	<% end %>
</div>
